{{#withXml}}
@XmlAccessorType(XmlAccessType.FIELD)
{{#hasVars}} @XmlType(name = "{{classname}}", propOrder =
    { {{#vars}}"{{name}}"{{^-last}}, {{/-last}}{{/vars}}
}){{/hasVars}}
{{^hasVars}}@XmlType(name = "{{classname}}"){{/hasVars}}
{{^parent}}@XmlRootElement(name="{{xmlName}}"){{/parent}}
{{#localDate}}(classname == "LocalDate") "@XmlJavaTypeAdapter(value = LocalDateAdapter.class)" {{/localDate}}
{{/withXml}}
